@font-face {
  font-family: "Bebas Neue Cyrillic";
  src: local("Bebas Neue Cyrillic"), local("BebasNeueCyrillic"),
    url("../fonts/BebasNeueCyrillic.woff2") format("woff2"),
    url("../fonts/BebasNeueCyrillic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/* header - navs */
.header {
  background-color: #635854;
  border-bottom: 4px solid #3596f5;
}

.navbar {
  max-width: 1280px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}
.nav-menu {
  display: flex;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 80px;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.navbar__logo {
  margin-top: 12px;
  margin-bottom: 12px;
}

.navbar__contacts {
  text-align: right;
  color: #fff;
}
.navbar__contacts-text {
  display: block;
  font-size: 14px;
  line-height: 16px;
}
.navbar__contacts-phone {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}
/* header - navs - end */
/* main - building */

.main {
  max-width: 1280px;
  display: flex;
  justify-content: space-around;
  margin: auto;

  margin-top: 54px;
}

.main__building path {
  opacity: 0;
}

.main__building path:hover {
  opacity: 1;
  cursor: pointer;
}

.main__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main__info-bigtext {
  margin: 0;
  font-family: "Bebas Neue Cyrillic";
  font-weight: normal;
  font-style: normal;
  font-size: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #635854;
}

.main__info-counter {
  text-align: center;
}

.counter-text {
  font-family: "Bebas Neue Cyrillic";
  font-weight: normal;
  font-style: normal;
  color: #635854;
  font-size: 95px;
  margin-top: 45px;
}

.counter-button {
  border: none;
  background-color: #fff;
}

.arrow-down {
  transform: rotateX(180deg);
}

.main__info-action {
  font-size: 16px;
  line-height: 19px;
  border: none;
  background-color: #3596f5;
  color: #fff;
  padding: 16px 36px;
  cursor: pointer;
}
